@import 'normalize.css';

:root {
  --main-white: #f0f0f0;
  --main-black: #303841;
  --main-text-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.75);
  --main-box-shadow: 2.5rem 2.5rem 1.25rem 0rem rgba(0, 0, 0, 0.75);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  overflow: auto;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  display: grid;
  grid-row: 1 / 4;
  justify-items: start;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fa-ubuntu {
  font-size: 3rem;
  transition: transform 0.3s ease-in-out;
}

.fa-ubuntu:hover {
  transform: rotate(360deg) scale(1.5);
}

.sidebar .sidebar-wrapper h1 {
  font-size: 3rem;
  margin: 1.6rem 0 0 4rem;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

ul {
  margin: 4.8rem auto;
}

li {
  list-style-type: none;
  margin: 1.6rem auto;
  font-size: 2rem;
  text-align: justify;
  text-shadow: var(--main-text-shadow);
  transition: transform 0.3s ease-out;
}

li:hover {
  transform: translateY(1rem);
}

a.nav-links {
  text-decoration: none;
  color: var(--main-white);
}

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-column: repeat(4 1fr);
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-first-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-top: 2.4rem;
}

#magnifying-glass {
  padding-top: 0.4rem;
  transition: transform 0.3s ease-out;
}

#magnifying-glass:hover {
  transform: translateY(1rem);
}

.search-bar .fa-solid {
  font-size: 2.2rem;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

input {
  width: 40vw;
  height: 2.5rem;
  font-size: 2rem;
  background: var(--main-white);
  border: 0.25rem solid rgba(0, 0, 0, 0.75);
  border-radius: 1.5rem;
  outline: none;
  box-shadow: var(--main-box-shadow);
}

.user-info {
  width: 25vw;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.8rem;
}

.user-nav {
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
  text-decoration: none;
  transition: transform 0.3s ease-out;
}

.user-nav:hover {
  transform: translateY(1rem);
}

.header-second-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greeting-wrapper {
  display: flex;
  align-items: center;
}

.main-icon {
  display: flex;
  flex-direction: row;
  font-size: 3.2rem;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

.main-icon .fa-hat-cowboy {
  transition: transform 0.3s ease-in-out;
}

.main-icon .fa-hat-cowboy:hover {
  transform: rotate(360deg) scale(1.5);
}

h1 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-left: 1.6rem;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

h3 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 1.6rem;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

.buttons {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
  background-color: #1d2671;
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: var(--main-box-shadow);
}

.glow-on-hover {
  border: 0.25rem solid hsla(0, 0%, 94%, 0.5);
  outline: none;
  background: #1d2671;
  position: relative;
  z-index: 0;
  border-radius: 2.5rem;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  background-size: 400%;
  z-index: -1;
  filter: blur(1.25rem);
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 2.5rem;
}

.glow-on-hover:active {
  color: var(--main-black);
  text-shadow: 0.5rem 0.5rem 0.25rem var(--main-white);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d2671;
  left: 0;
  top: 0;
  border-radius: 2.5rem;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 1.6rem 1.6rem;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.6rem;
  margin-left: 1.6rem;
  border-radius: 0.6rem;
}

.projects p {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.projects .project-card {
  background-color: var(--main-white);
  text-align: center;
  padding: 1.6rem;
  border: 0.25rem solid rgba(0, 0, 0, 0.75);
  border-radius: 0.6rem;
  box-shadow: var(--main-box-shadow);
}

.projects .project-card {
  transition: transform 0.3s ease-in-out;
}

.projects .project-card:hover {
  transform: scale(1.1);
}

.svg {
  width: 2.4rem;
  height: 2.4rem;
  filter: invert(20%) sepia(96%) saturate(7435%) hue-rotate(343deg)
    brightness(104%) contrast(109%);
}

.svg-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1.6rem;
}

.project-card p,
.trending-card p,
.announcements-card p {
  color: var(--main-black);
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.project-card .title {
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

h2 {
  font-size: 2.2rem;
  margin: 0 1.6rem;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

.announcements-trending {
  display: flex;
  flex-direction: column;
}

.announcements h2,
.trending h2 {
  margin-left: 1.6rem;
}

.announcements-card,
.trending-card {
  background-color: var(--main-white);
  padding: 1.6rem;
  margin: 0 1.6rem;
  border: 0.25rem solid rgba(0, 0, 0, 0.75);
  border-radius: 0.6rem;
  box-shadow: var(--main-box-shadow);
}

.announcements-card,
.trending-card {
  transition: transform 0.3s ease-in-out;
}

.announcements-card:hover,
.trending-card:hover {
  transform: scale(1.1);
}

.trending-card .title,
.announcements-card .title {
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

.trending-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trending-card-icon {
  margin-right: 2rem;
}

.svg-user-icons {
  width: 4rem;
  height: 4rem;
  border: 0.25rem solid red;
  border-radius: 50%;
  filter: invert(20%) sepia(96%) saturate(7435%) hue-rotate(343deg)
    brightness(104%) contrast(109%);
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  margin: 2.4rem auto;
  text-align: center;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

#footer a {
  text-decoration: none;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

#footer a:hover {
  text-decoration: underline;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

#icon {
  transition: transform 0.3s ease-in-out;
}

#icon:hover {
  transform: rotate(360deg) scale(1.2);
}
