@import 'normalize.css';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  overflow: auto;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  display: grid;
  grid-row: 1 / 4;
  justify-items: start;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fa-ubuntu {
  font-size: 3rem;
  transition: transform 0.3s ease-in-out;
}

.fa-ubuntu:hover {
  transform: rotate(360deg) scale(1.5);
}

.sidebar .sidebar-wrapper h1 {
  font-size: 3rem;
  margin: 1.6rem 0 0 4rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

ul {
  margin: 4.8rem auto;
}

li {
  list-style-type: none;
  margin: 1.6rem auto;
  font-size: 2rem;
  text-align: justify;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease-out;
}

li:hover {
  transform: translateY(0.5rem);
}

a.nav-links {
  text-decoration: none;
  color: #f0f0f0;
}

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-column: repeat(4 1fr);
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-first-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-top: 2.4rem;
}

#magnifying-glass {
  padding-top: 0.4rem;
  transition: transform 0.3s ease-out;
}

#magnifying-glass:hover {
  transform: translateY(0.5rem);
}

.search-bar .fa-solid {
  font-size: 2.2rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

input {
  width: 40vw;
  height: 2.5rem;
  font-size: 2rem;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 1.5rem;
}

.user-info {
  width: 25vw;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.8rem;
}

.user-nav {
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  transition: transform 0.3s ease-out;
}

.user-nav:hover {
  transform: translateY(0.5rem);
}

.white {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(112%)
    contrast(102%);
}

.header-second-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greeting-wrapper {
  display: flex;
  align-items: center;
}

.main-icon {
  display: flex;
  flex-direction: row;
  font-size: 3.2rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

.main-icon .fa-hat-cowboy {
  transition: transform 0.3s ease-in-out;
}

.main-icon .fa-hat-cowboy:hover {
  transform: rotate(360deg) scale(1.5);
}

h1 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-left: 1.6rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

h3 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 1.6rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

.buttons {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #1d2671;
  border-radius: 2.5rem;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 1.6rem 1.6rem;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.6rem;
  margin-left: 1.6rem;
  border-radius: 0.6rem;
}

.projects p {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.projects .project-card {
  background-color: #f0f0f0;
  text-align: center;
  padding: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 0.6rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.projects .project-card {
  transition: transform 0.3s ease-in-out;
}

.projects .project-card:hover {
  transform: scale(1.1);
}

.svg {
  width: 2.4rem;
  height: 2.4rem;
  filter: invert(20%) sepia(96%) saturate(7435%) hue-rotate(343deg)
    brightness(104%) contrast(109%);
}

.svg-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1.6rem;
}

.project-card p,
.trending-card p,
.announcements-card p {
  color: #303841;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.project-card .title {
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

h2 {
  font-size: 2.2rem;
  margin: 0 1.6rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

.announcements-trending {
  display: flex;
  flex-direction: column;
}

.announcements h2,
.trending h2 {
  margin-left: 1.6rem;
}

.announcements-card,
.trending-card {
  background-color: #f0f0f0;
  padding: 1.6rem;
  margin: 0 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 0.6rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.announcements-card,
.trending-card {
  transition: transform 0.3s ease-in-out;
}

.announcements-card:hover,
.trending-card:hover {
  transform: scale(1.1);
}

.trending-card .title,
.announcements-card .title {
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  margin: 2.4rem auto;
  text-align: center;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

#footer a {
  text-decoration: none;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

#footer a:hover {
  text-decoration: underline;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

#icon {
  transition: transform 0.3s ease-in-out;
}

#icon:hover {
  transform: rotate(360deg) scale(1.2);
}
